<h2>Acceda con usuario y contrasena a SERVICIOS</h2>
<form action="" method="">
  
  <div class="container">
    <label for="uname"><b>Usuario</b></label>
    <input type="text" placeholder="ingrese su usuario" name="name" required/>

    <label for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="ingrese su contraseña" name="psw" required/>

    <button type="submit">Enviar</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancelar</button>
    <span class="psw">Olvide mi <a href="#">contraseña</a></span>
  </div>
</form>