
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Rubik:ital,wght@0,600;1,400&family=Source+Sans+Pro:wght@300&display=swap');


body {
    color: beige;
    background-color: lightgray; 
    font: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    font-style: normal black;

}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.1);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color:  rgb(0, 102, 255);

}
.navbar-light .navbar-toggler {
    color: rgb(0, 102, 255);
    border-color: rgba(0,0,0,.1);
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid blue;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.conteiner-slide{
padding: 0%;
margin: 0;
content: inherit;
align-items: center;
align-content: center;
text-align: center;
}

.carousel-caption > h2{
text-align: center;
}

#servicios {
padding: 5%;
margin-right: 5%;
margin-left: 5%;
margin-top: 5%;
margin-bottom: 5%;

}

#servicios .container-fluid {
margin-top: 5%;
justify-content: center;
justify-items: center;
}

#servicios .card {
    margin: 2%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: black;
    text-align: center;
}

.card  {
    color: black;
}
.footer{
background-color: black;
text-decoration-color: aliceblue;
}

#Contacto {
    padding: 5%;
    background-color: cornflowerblue;
}
.fa-brands, .fab{
    color: blue;
}
